      <!-- footer area  -->
      <div class="containe footer">
        <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 side">
                <h1>Elkays Hotel </h1>
                <h5>Finest Hotel in Town!</h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 side sides">
                <h6><a href=""><i class="fad fa-user-alt"></i></a>Hospitality at its best!</h6>
                <h6><a href=""><i class="fas fa-phone-alt"></i></a> +23401786543</h6>
                <h6><a href=""><i class="fal fa-clock"></i></a> Mon-Sat : 24hours daily</h6>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 side sides">
                  <ul class="list-unstyled anchor">
                    <li class="mt-2 mb-2"><a class="text-white" href="{% url 'index' %}">Home</a></li>
                    <li class="mt-2 mb-2"><a class="text-white" href="{% url 'rooms' %}">Rooms</a></li>
                    <li class="mt-2 mb-2"><a class="text-white" href="">About</a></li>
                    <li class="mt-2 mb-2"><a class="text-white" href="">Contact</a></li>
                </ul>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 side sides">
                <ul class="list-inline">
                  <li class="list-inline-item"><a href=""><i class="fab fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a href=""><i class="fab fa-twitter-square"></i></a></li>
                  <li class="list-inline-item"><a href=""><i class="fab fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a href=""><i class="fab fa-linkedin"></i></a></li>
                  <li class="list-inline-item"><a href=""><i class="fab fa-whatsapp-square"></i></a></li>
              </ul>
              </div>
            </div>
          </div>
          <div class="copyright mt-5 pt-4 pb-2">
            <p> Copyright&copy; Elkays Hotel | All rights reserved! </p>
            <p ><a class="text-white" href="https://wa.me/2347087242869">Contact elKay</a></p>
          </div>
        </div>
      <!-- footer area done -->